/* colors */
$dark-color: #272D2D;
$light-color: #90FCF9;
$main-bg-color: #EDF5FC;

/* font sizes */
$Xlarge-font: 30px;
$large-font: 25px;
$big-font: 20px;
$middle-font: 17px;
$Xmiddle-font: 15px;
$small-font: 14px;
$Xsmall-font: 12px;