/* colors */
$dark-color: #272D2D;
$light-color: #90FCF9;
$main-bg-color: #EDF5FC;

/* font sizes */
$Xlarge-font: 30px;
$large-font: 25px;
$big-font: 20px;
$middle-font: 17px;
$Xmiddle-font: 15px;
$small-font: 14px;
$Xsmall-font: 12px;


/* ################### */
/* main page style */
.body {
    background-color: $main-bg-color;
}


/* ################### */
/* custom navbar style */
.navbar-custom {
    background-color: $dark-color;
}

.navbar-link {
    color: $light-color;
    text-decoration: none;
    font-size: $Xlarge-font;

    &:hover {
        text-decoration: none;
        color: darken($light-color, 20%);
    }

    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $large-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $large-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $big-font;}
    @media screen and (max-width: 419px) {font-size: $big-font;}
}


/* ################### */
/* general class settings */
.text-center {
    text-align: center;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.invisible {
    visibility: hidden;
}

.c-pointer {
    cursor: pointer;
}

.no-self-bg {
    background: transparent;
}


/* ################### */
/* grid arrangement */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "item1 item1 item2 item2 item2 item2 item2";
    gap: 0px 40px;
    padding: 20px 30px;
    height: 800px;
}

.item1 { 
    grid-area: item1; 
}
.item2 { 
    grid-area: item2;
    overflow-y: scroll;
    border-bottom: 5px solid $dark-color;
}


/* ################### */
/* our main table styling */
.table-outer {

}

.table-row-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "table-col1 table-col2 table-col3 table-col4 table-col5 table-col6";
    padding: 5px 0px;
}
  
.table-col1 { grid-area: table-col1; }
.table-col2 { grid-area: table-col2; }
.table-col3 { grid-area: table-col3; }
.table-col4 { grid-area: table-col4; }
.table-col5 { grid-area: table-col5; }
.table-col6 { grid-area: table-col6; }

.table-body:nth-child(n) {
    padding: 5px 10px;
    font-size: $middle-font;

    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $small-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $small-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $Xsmall-font;}
    @media screen and (max-width: 419px) {font-size: $Xsmall-font;}
}

.table-body:nth-child(n) > * {
    display: flex;
    align-items: center;
}


/* ################### */
/* table head style */
.table-head {
    background-color: $dark-color;
    position: sticky;
    left:0;
    top:0px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 5x 5px 0px 0px;
}

.table-head:nth-child(n) {
    background-color: $dark-color;
    font-size: $big-font;
    color: $light-color;

    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $middle-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $middle-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $Xmiddle-font;}
    @media screen and (max-width: 419px) {font-size: $small-font;}

    * {
        vertical-align: middle;
    }
}

.th-bookmark-icon {
    width: 30px;
    height: 30px;

    @media screen and (mdoain-width: 767px) and (max-width: 1023px) {width: 25px;height: 25px;}
    @media screen and (min-width: 600px) and (max-width: 766px) {width: 25px;height: 25px;}
    @media screen and (min-width: 420px) and (max-width: 599px) {width: 20px;height: 20px;}
    @media screen and (max-width: 419px) {width: 20px;height: 20px;}
}

.th-bookmark-active {
    -webkit-filter: drop-shadow(2px 2px 10px white);
    filter: drop-shadow(2px 2px 10px white);
}

.table-body:nth-child(n):hover {
    background-color: darken($main-bg-color, 3%);
}
.table-body:nth-child(2n) {
    background-color: darken($main-bg-color, 6%);
}

.table-head-svg {
    width: 30px;
    height: 30px;
    fill: $light-color;
}
.table-head-unit {
    font-size: $middle-font;

    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $small-font;}
    @media screen and (max-width: 419px) {font-size: $Xsmall-font;}
}

/* ################### */
/* table row image style */
.table-row-input-style {
    color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    outline: none;

    @media screen and (min-width: 767px) and (max-width: 1023px) {width: 20px;height: 20px;}
    @media screen and (min-width: 600px) and (max-width: 766px) {width: 20px;height: 20px;}
    @media screen and (min-width: 420px) and (max-width: 599px) {width: 15px;height: 15px;}
    @media screen and (max-width: 419px) {width: 15px;height: 15px;}
}

.show-details {
    background-image: url("../img/view-details.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.favourite-star {
    background-image: url("../img/star.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.favourite-star:hover {
    background-image: url("../img/star-filled.png");
}
.favourite-star-active {
    background-image: url("../img/star-filled.png");
}

/* ################### */
/* search form styling */
.search-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". div0 div0 div0 div0 ."
      "div1 div1 div2 div2 div2 div2"
      "div3 div3 div4 div4 div5 div5"
      "div6 div6 div7 div7 div8 div8"
      "div9 div9 div10 div10 div10 div10"
      ". . div11 div11 . .";
}
  
.div0 { 
    grid-area: div0;
    font-weight: 600;
    text-align: center;
}  
.div1 { grid-area: div1; }  
.div2 { grid-area: div2; }  
.div3 { grid-area: div3; }  
.div4 { grid-area: div4; }  
.div5 { grid-area: div5; }  
.div6 { grid-area: div6; }  
.div7 { grid-area: div7; }  
.div8 { grid-area: div8; }  
.div9 { grid-area: div9; }  
.div10 { grid-area: div10; }  
.div11 { grid-area: div11; }  
.search-element { 
    width: 100%;
    font-size: $middle-font;

    @media screen and (min-width: 1025px) and (max-width: 1200px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $small-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $small-font;}
    @media screen and (max-width: 419px) {font-size: $Xsmall-font;}
}

.search-button {
    background-color: $dark-color;
    color: $light-color;
    border-radius: 5px;

    &:hover {
        text-decoration: none;
        color: darken($light-color, 20%);
    }
}

.search-header {
    font-size: $large-font;

    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $big-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $middle-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $Xmiddle-font;}
    @media screen and (max-width: 419px) {font-size: $Xmiddle-font;}
}
    
  
/* ################### */
/* The Modal (background) */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px 200px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* ################### */
/* Modal Content */
/* modal content class name is modal-content2,
idk why but when it changed as modal-contant its not working.. */
.modal-content2 {
    background-color: $main-bg-color;
    padding: 30px;
    border-radius: 5px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1025px) and (max-width: 1200px) { width: 470px; }
    @media screen and (min-width: 767px) and (max-width: 1023px) { width: 450px; }
    @media screen and (min-width: 600px) and (max-width: 766px) { 
        width: 400px; 
        padding: 20px;
    }
    @media screen and (min-width: 420px) and (max-width: 599px) { 
        width: 350px; 
        padding: 10px;
    }
    @media screen and (min-width: 350px) and (max-width: 419px) { 
        width: 325px; 
        padding: 10px;
    }
    @media screen and (max-width: 349px) { 
        width: 300px; 
        padding: 10px;
    }
    @media screen and (min-width: 351px) and (max-width: 380px) { left: 47% }
    @media screen and (min-width: 321px) and (max-width: 350px) { left: 45% }
    @media screen and (max-width: 320px) { left: 40% }
}

.modal-image * {
    width: 270px;
    height: 270px;

    @media screen and (min-width: 767px) and (max-width: 1023px) {width: 220px;height: 220px;}
    @media screen and (min-width: 600px) and (max-width: 766px) {width: 200px;height: 200px;}
    @media screen and (min-width: 420px) and (max-width: 599px) {width: 180px;height: 180px;}
    @media screen and (max-width: 419px) {width: 130px;height: 130px;}
}

/* The Close Button of Modal*/
.modal-close {
    position: relative;
    float: right;
    top: -20px;
    right: -10px;
    background: transparent;
    color: $dark-color;
    font-size: $large-font;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: darken($light-color, 50%);
    text-decoration: none;
}

/* modal lines grid areas */
.modal-line-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "modal-line-left modal-line-right";
}
.modal-line-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 7px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: modal-line-right;
}
.modal-line-left { 
    grid-area: modal-line-left; 
    font-weight: 600;
    text-transform: uppercase;
}

.modal-line-container:nth-child(n) > * {
    font-size: $middle-font;

    @media screen and (min-width: 1025px) and (max-width: 1200px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 767px) and (max-width: 1023px) {font-size: $Xmiddle-font;}
    @media screen and (min-width: 600px) and (max-width: 766px) {font-size: $small-font;}
    @media screen and (min-width: 420px) and (max-width: 599px) {font-size: $Xsmall-font;}
    @media screen and (max-width: 419px) {font-size: $Xsmall-font;}
}


// media queries for mobile responsiveness
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          ". . item1 . ."
          "item2 item2 item2 item2 item2";
        gap: 20px 0px;
        padding: 20px 30px;
    }
    .item1 {
        padding: 0px 0px 30px 0px;
    }

    .item2 {
        height: 600px;
    }
}

@media screen and (min-width: 600px) and (max-width: 766px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          ". . item1 . ."
          "item2 item2 item2 item2 item2";
        gap: 20px 0px;
        padding: 10px 20px;
    }

    .item2 {
        height: 600px;
    }
}

@media screen and (min-width: 420px) and (max-width: 599px) {
    .main-container {
        display: grid;
        grid-template-columns: 0.5fr 0fr 4fr 0fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          ". . item1 . ."
          "item2 item2 item2 item2 item2";
        gap: 10px 0px;
        padding: 10px 20px;
        height: 600px;
    }

    .item1 {
        padding: 0px 0px 30px 0px;
    }
    
    .item2 {
        height: 500px;
    }
}

@media screen and (min-width: 350px) and (max-width: 419px) {
    .main-container {
        display: grid;
        grid-template-columns: 0fr 0fr 5fr 0fr 0;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          ". . item1 . ."
          "item2 item2 item2 item2 item2";
        gap: 10px 0px;
        padding: 5px 5px;
        height: 500px;
    }

    .item1 {
        padding: 0px 0px 20px 0px;
    }
    
    .item2 {
        height: 400px;
    }
}

@media screen and (max-width: 349px) {
    .main-container {
        display: grid;
        grid-template-columns: 0fr 0fr 5fr 0fr 0;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          ". . item1 . ."
          "item2 item2 item2 item2 item2";
        gap: 10px 0px;
        padding: 20px 30px;
        height: 350px;
    }

    .item1 {
        padding: 0px 0px 0px 0px;
    }
    
    .item2 {
        height: 300px;
    }
}