/* colors */
$dark-color: #272D2D;
$light-color: #90FCF9;
$main-bg-color: #EDF5FC;

/* font sizes */
$large-font: 30px;
$big-font: 25px;
$middle-font: 17px;
$small-font: 14px;


/* ################### */
/* main page style */
.body {
    background-color: $main-bg-color;
}


/* ################### */
/* custom navbar style */
.navbar-custom {
    background-color: $dark-color;
}

.navbar-link {
    color: $light-color;
    text-decoration: none;
    font-size: $big-font;

    &:hover {
        text-decoration: none;
        color: darken($light-color, 20%);
    }
}


/* ################### */
/* general class settings */
.item-center {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.item-left {
    text-align: left;
}

.invisible {
    visibility: hidden;
}

.c-pointer {
    cursor: pointer;
}

.no-self-bg {
    background: transparent;
}


/* ################### */
/* grid arrangement */
.main-container {
    display: grid;
    grid-template-areas:
        'item1 item1 item2 item2 item2 item2 item2';
    grid-gap: 40px;
    padding: 20px 30px;
    height: 700px;
}
.item1 { 
    grid-area: item1; 
}
.item2 { 
    grid-area: item2;
    overflow-y: scroll;
}


/* ################### */
/* our main table styling */
.table-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1.5fr 1.5fr 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "table-col1 table-col2 table-col3 table-col4 table-col5 table-col6 table-col7 table-col8";
    padding: 5px 0px;
}
  
.table-col1 { grid-area: table-col1; }
.table-col2 { grid-area: table-col2; }
.table-col3 { grid-area: table-col3; }
.table-col4 { grid-area: table-col4; }
.table-col5 { grid-area: table-col5; }
.table-col6 { grid-area: table-col6; }
.table-col7 { grid-area: table-col7; }v
.table-col8 { grid-area: table-col8; }

.table-col-cell {
    padding: 0px 10px;
    font-size: $small-font;
}


/* ################### */
/* table head style */
.table-head {
    background-color: $dark-color;
    position: sticky;
    left:0;
    top:0px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 5x 5px 0px 0px;
}

.table-head-cell {
    background-color: $dark-color;
    font-size: $middle-font;
    color: $light-color;
}

.th-bookmark-icon {
    width: 30px;
    height: 30px;
}

.th-bookmark-active {
    -webkit-filter: drop-shadow(1px 1px 7px white);
    filter: drop-shadow(1px 1px 7px white);
}

.table-body:nth-child(n):hover {
    background-color: darken($main-bg-color, 3%);
}
.table-body:nth-child(2n) {
    background-color: darken($main-bg-color, 6%);
}

/* ################### */
/* table row image style */
.table-row-input-style {
    color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    outline: none;
}

.show-details {
    background-image: url("../img/view-details.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.favourite-star {
    background-image: url("../img/star.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.favourite-star:hover {
    background-image: url("../img/star-filled.png");
}
.favourite-star-active {
    background-image: url("../img/star-filled.png");
}

.dog-breed-image img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


/* ################### */
/* search form styling */
.search-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "div1 div1 div2 div2 div2 div2"
      "div3 div3 div4 div4 div5 div5"
      "div6 div6 div7 div7 div8 div8"
      "div9 div9 div10 div10 div10 div10"
      ". . div11 div11 . .";
}
  
.div1 { grid-area: div1; }  
.div2 { grid-area: div2; }  
.div3 { grid-area: div3; }  
.div4 { grid-area: div4; }  
.div5 { grid-area: div5; }  
.div6 { grid-area: div6; }  
.div7 { grid-area: div7; }  
.div8 { grid-area: div8; }  
.div9 { grid-area: div9; }  
.div10 { grid-area: div10; }  
.div11 { grid-area: div11; }  
.grid-element { 
    width: 100%;
    font-size: $middle-font;
}

.search-button {
    background-color: $dark-color;
    color: $light-color;
    border-radius: 5px;
}
    
  
/* ################### */
/* The Modal (background) */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px 400px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* ################### */
/* Modal Content */
.testtt {
    padding: 30px;
    border-radius: 5px;
    width: 500px;
}

/* The Close Button of Modal*/
.modal-close {
    position: relative;
    float: right;
    top: -20px;
    right: -10px;
    background: transparent;
    color: $dark-color;
    font-size: $big-font;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: darken($light-color, 50%);
    text-decoration: none;
}

/* modal lines grid areas */
.modal-line-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "modal-line-left modal-line-right";
}
.modal-line-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: modal-line-right;
    font-size: $middle-font;
}
.modal-line-left { 
    grid-area: modal-line-left; 
    font-weight: 600;
    font-size: $middle-font;
}