/* colors */
/* font sizes */
/* ################### */
/* main page style */
@import url("https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap");
.body {
  background-color: #EDF5FC;
}

/* ################### */
/* custom navbar style */
.navbar-custom {
  background-color: #272D2D;
}

.navbar-link {
  color: #90FCF9;
  text-decoration: none;
  font-size: 30px;
}
.navbar-link:hover {
  text-decoration: none;
  color: #2df9f4;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .navbar-link {
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .navbar-link {
    font-size: 25px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .navbar-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 419px) {
  .navbar-link {
    font-size: 20px;
  }
}

/* ################### */
/* general class settings */
.text-center {
  text-align: center;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.invisible {
  visibility: hidden;
}

.c-pointer {
  cursor: pointer;
}

.no-self-bg {
  background: transparent;
}

/* ################### */
/* grid arrangement */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item1 item1 item2 item2 item2 item2 item2";
  gap: 0px 40px;
  padding: 20px 30px;
  height: 800px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
  overflow-y: scroll;
  border-bottom: 5px solid #272D2D;
}

/* ################### */
/* our main table styling */
.table-row-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "table-col1 table-col2 table-col3 table-col4 table-col5 table-col6";
  padding: 5px 0px;
}

.table-col1 {
  grid-area: table-col1;
}

.table-col2 {
  grid-area: table-col2;
}

.table-col3 {
  grid-area: table-col3;
}

.table-col4 {
  grid-area: table-col4;
}

.table-col5 {
  grid-area: table-col5;
}

.table-col6 {
  grid-area: table-col6;
}

.table-body:nth-child(n) {
  padding: 5px 10px;
  font-size: 17px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .table-body:nth-child(n) {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .table-body:nth-child(n) {
    font-size: 14px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .table-body:nth-child(n) {
    font-size: 12px;
  }
}
@media screen and (max-width: 419px) {
  .table-body:nth-child(n) {
    font-size: 12px;
  }
}

.table-body:nth-child(n) > * {
  display: flex;
  align-items: center;
}

/* ################### */
/* table head style */
.table-head {
  background-color: #272D2D;
  position: sticky;
  left: 0;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5x 5px 0px 0px;
}

.table-head:nth-child(n) {
  background-color: #272D2D;
  font-size: 20px;
  color: #90FCF9;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .table-head:nth-child(n) {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .table-head:nth-child(n) {
    font-size: 17px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .table-head:nth-child(n) {
    font-size: 15px;
  }
}
@media screen and (max-width: 419px) {
  .table-head:nth-child(n) {
    font-size: 14px;
  }
}
.table-head:nth-child(n) * {
  vertical-align: middle;
}

.th-bookmark-icon {
  width: 30px;
  height: 30px;
}
@media screen and (mdoain-width: 767px) and (max-width: 1023px) {
  .th-bookmark-icon {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .th-bookmark-icon {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .th-bookmark-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 419px) {
  .th-bookmark-icon {
    width: 20px;
    height: 20px;
  }
}

.th-bookmark-active {
  -webkit-filter: drop-shadow(5px 5px 10px #90FCF9);
  filter: drop-shadow(5px 5px 10px #90FCF9);
}

.table-body:nth-child(n):hover {
  background-color: #e0eefa;
}

.table-body:nth-child(2n) {
  background-color: #d3e6f8;
}

.table-head-svg {
  width: 30px;
  height: 30px;
  fill: #90FCF9;
}

.table-head-unit {
  font-size: 17px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .table-head-unit {
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .table-head-unit {
    font-size: 15px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .table-head-unit {
    font-size: 14px;
  }
}
@media screen and (max-width: 419px) {
  .table-head-unit {
    font-size: 12px;
  }
}

/* ################### */
/* table row image style */
.table-row-input-style {
  color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  outline: none;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .table-row-input-style {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .table-row-input-style {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .table-row-input-style {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 419px) {
  .table-row-input-style {
    width: 15px;
    height: 15px;
  }
}

.show-details {
  background-image: url("../img/view-details.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.favourite-star {
  background-image: url("../img/star.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.favourite-star:hover {
  background-image: url("../img/star-filled.png");
}

.favourite-star-active {
  background-image: url("../img/star-filled.png");
}

/* ################### */
/* search form styling */
.search-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas: ". div0 div0 div0 div0 ." "div1 div1 div2 div2 div2 div2" "div3 div3 div4 div4 div5 div5" "div6 div6 div7 div7 div8 div8" "div9 div9 div10 div10 div10 div10" ". . div11 div11 . .";
}

.div0 {
  grid-area: div0;
  font-weight: 600;
  text-align: center;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
}

.div5 {
  grid-area: div5;
}

.div6 {
  grid-area: div6;
}

.div7 {
  grid-area: div7;
}

.div8 {
  grid-area: div8;
}

.div9 {
  grid-area: div9;
}

.div10 {
  grid-area: div10;
}

.div11 {
  grid-area: div11;
}

.search-element {
  width: 100%;
  font-size: 17px;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .search-element {
    font-size: 15px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .search-element {
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .search-element {
    font-size: 14px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .search-element {
    font-size: 14px;
  }
}
@media screen and (max-width: 419px) {
  .search-element {
    font-size: 12px;
  }
}

.search-button {
  background-color: #272D2D;
  color: #90FCF9;
  border-radius: 5px;
}
.search-button:hover {
  text-decoration: none;
  color: #2df9f4;
}

.search-header {
  font-size: 25px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .search-header {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .search-header {
    font-size: 17px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .search-header {
    font-size: 15px;
  }
}
@media screen and (max-width: 419px) {
  .search-header {
    font-size: 15px;
  }
}

/* ################### */
/* The Modal (background) */
.modal-container {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 100px 200px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* ################### */
/* Modal Content */
/* modal content class name is modal-content2,
idk why but when it changed as modal-contant its not working.. */
.modal-content2 {
  padding: 30px;
  border-radius: 5px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .modal-content2 {
    width: 470px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .modal-content2 {
    width: 450px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .modal-content2 {
    width: 400px;
    padding: 20px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .modal-content2 {
    width: 350px;
    padding: 10px;
  }
}
@media screen and (min-width: 350px) and (max-width: 419px) {
  .modal-content2 {
    width: 325px;
    padding: 10px;
  }
}
@media screen and (max-width: 349px) {
  .modal-content2 {
    width: 300px;
    padding: 10px;
  }
}
@media screen and (min-width: 351px) and (max-width: 380px) {
  .modal-content2 {
    left: 47%;
  }
}
@media screen and (min-width: 321px) and (max-width: 350px) {
  .modal-content2 {
    left: 45%;
  }
}
@media screen and (max-width: 320px) {
  .modal-content2 {
    left: 40%;
  }
}

/* The Close Button of Modal*/
.modal-close {
  position: absolute;
  float: right;
  top: 11px;
  right: 12px;
}

.modal-close-svg {
  width: 15px;
  height: 15px;
  color: #272D2D;
  cursor: pointer;
  transition: fill 500ms, filter 500ms;
}
.modal-close-svg:hover, .modal-close-svg:focus {
  fill: #04a29e;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.modal-line-vertical-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "modal-line-top" "modal-line-bottom";
  margin-bottom: 70px;
}

.modal-line-top {
  grid-area: modal-line-top;
  font-weight: 600;
  text-transform: uppercase;
  color: #03706d;
}

.modal-line-bottom {
  grid-area: modal-line-bottom;
}

.modal-line-horizontal-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "modal-line-left modal-line-right";
}

.modal-line-left {
  grid-area: modal-line-left;
  font-weight: 600;
  text-transform: uppercase;
  color: #03706d;
}

.modal-line-right {
  grid-area: modal-line-right;
}

#modal-card {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background: #EDF5FC;
  position: relative;
  box-shadow: 5px 5px 10px #048986;
}
#modal-card .modal-img {
  height: 130px;
  width: 130px;
  background: url("../img/doge.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -40px;
  left: -40px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(4, 137, 134, 0.5);
  transition: box-shadow 555ms;
  cursor: pointer;
}
#modal-card .modal-img:hover {
  box-shadow: 15px 15px 10px rgba(4, 137, 134, 0.5);
}
#modal-card .title {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 30px 0px 10px 20px;
  padding: 0px 0px 0px 20px;
  color: #048986;
}
#modal-card .modal-line-infos {
  width: 100%;
  border-bottom: 1px solid #048986;
  padding: 7px 15px;
}
#modal-card .modal-weight-and-height-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin-top: 7px;
  width: 100%;
}
#modal-card .modal-weight-and-height-container .modal-line-vertical-container {
  text-align: center;
  width: 100px;
  padding: 0px;
  border-radius: 30px;
}
#modal-card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272D2D;
  color: #90FCF9;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: 13px 20px 0px 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#modal-card footer div {
  display: flex;
}
#modal-card footer div p:first-child {
  margin-right: 10px;
  border-right: 4px solid white;
  padding-right: 10px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . item1 . ." "item2 item2 item2 item2 item2";
    gap: 20px 0px;
    padding: 20px 30px;
  }

  .item1 {
    padding: 0px 0px 30px 0px;
  }

  .item2 {
    height: 600px;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 0fr 3fr 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . item1 . ." "item2 item2 item2 item2 item2";
    gap: 20px 0px;
    padding: 10px 20px;
  }

  .item2 {
    height: 600px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .main-container {
    display: grid;
    grid-template-columns: 0.5fr 0fr 4fr 0fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . item1 . ." "item2 item2 item2 item2 item2";
    gap: 10px 0px;
    padding: 10px 20px;
    height: 600px;
  }

  .item1 {
    padding: 0px 0px 30px 0px;
  }

  .item2 {
    height: 500px;
  }
}
@media screen and (min-width: 350px) and (max-width: 419px) {
  .main-container {
    display: grid;
    grid-template-columns: 0fr 0fr 5fr 0fr 0;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . item1 . ." "item2 item2 item2 item2 item2";
    gap: 10px 0px;
    padding: 5px 5px;
    height: 500px;
  }

  .item1 {
    padding: 0px 0px 20px 0px;
  }

  .item2 {
    height: 400px;
  }
}
@media screen and (max-width: 349px) {
  .main-container {
    display: grid;
    grid-template-columns: 0fr 0fr 5fr 0fr 0;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . item1 . ." "item2 item2 item2 item2 item2";
    gap: 10px 0px;
    padding: 20px 30px;
    height: 350px;
  }

  .item1 {
    padding: 0px 0px 0px 0px;
  }

  .item2 {
    height: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
