/* grid arrangement */
.item1 { 
  grid-area: item1; 
}
.item2 { 
  grid-area: item2;
  overflow: scroll;
}

.qwerty {
  display: grid;
  grid-template-areas:
    'item1 item2 item2 item2 item2 item2';
  grid-gap: 40px;
  padding: 20px 50px;
  height: 700px;
}

/* table styling */
.dog-breeds-table {
  text-align: left;
}

.dog-breeds-table-th {
  background-color: rgb(48, 48, 48);
  color: rgb(193, 193, 193);
  font-weight: 400;
  font-size: 20px;
  position: sticky;
  top: 0;
  padding: 5px 10px;
}

.dog-breeds-table-td {
  padding: 5px 10px;
}

.dog-breeds-table-tr {
  border-top: 1px solid black;
}

/* search form styling */
.search-form-term, .search-form-button-container {
  margin-bottom: 10px;
}

.search-form-span {
  display: inline-block;
  width: 100px;
}

.search-form-input-word {
  width: 302px;
}

.search-form-input-number {
  width: 149px;
}

.search-form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-button {
  padding: 0px 28px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}