/* grid arrangement */
.item1 { 
  grid-area: item1; 
}
.item2 { 
  grid-area: item2;
  overflow: scroll;
}

.qwerty {
  display: grid;
  grid-template-areas:
    'item1 item2 item2 item2 item2 item2';
  grid-gap: 40px;
  padding: 20px 50px;
  height: 700px;
}

/* table styling */
.dog-breeds-table {
  text-align: left;
}

.dog-breeds-table-th {
  background-color: rgb(48, 48, 48);
  color: rgb(193, 193, 193);
  font-weight: 400;
  font-size: 20px;
  position: sticky;
  top: 0;
  padding: 5px 10px;
}

.th-bookmark-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.dog-breeds-table-td {
  padding: 5px 10px;
}

.dog-breeds-table-tr {
  border-top: 1px solid black;
}

.dog-breeds-table-details {
  padding-left: 30px;
  font-size: 25px;
}

.show-details {
  cursor: pointer;
  color: transparent;
  border: none;
  background-image: url("../img/view-details.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 25px;
  height: 25px;
}

.favourite-star {
  display: block;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  background-image: url("../img/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 25px;
  height: 25px;
}

.favourite-star:hover {
  background-image: url("../img/star-filled.png");
}

.favourite-star-active {
  background-image: url("../img/star-filled.png");
}


/* search form styling */
.search-form-term, .search-form-button-container {
  margin-bottom: 10px;
}

.search-form-span {
  display: inline-block;
  width: 100px;
}

.search-form-input-word {
  width: 302px;
}

.search-form-input-number {
  width: 149px;
}

.search-form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-button {
  padding: 0px 28px;
  cursor: pointer;
}


/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 100px 500px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button of Modal*/
.modal-close {
  color: #aaaaaa;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-table-th {
  padding: 5px 50px 5px 20px;
}