<form action="index.php" method="POST">
    <div class="search-form-container">
        <div class="div0"><span class="search-header">Dog finder!</span></div>
        <div class="div1"><span class="search-element">Breed Name</span></div>
        <div class="div2"><input class="search-element" type="text" name="breed_name" id="breed_name"></div>
        <div class="div3"><span class="search-element">Weight (kg)</span></div>
        <div class="div4"><input class="search-element" type="text" name="minWeight" id="minWeight" placeholder="min"></div>
        <div class="div5"><input class="search-element" type="text" name="maxWeight" id="maxWeight" placeholder="max"></div>
        <div class="div6"><span class="search-element">Height (cm)</span></div>
        <div class="div7"><input class="search-element" type="text" name="minHeight" id="minHeight" placeholder="min"></div>
        <div class="div8"><input class="search-element" type="text" name="maxHeight" id="maxHeight" placeholder="max"></div>
        <div class="div9"><span class="search-element">Temperament</span></div>
        <div class="div10"><input class="search-element" type="text" name="temperament" id="temperament"></div>
        <div class="div11"><input class="search-element search-button c-pointer" type="submit" name="submit" value="Search"></div>
    </div>
</form>

{if $filteredCount}
    {if $filteredCount != $dogBreedArrayCount}
        <span>{$filteredCount} dog breeds found.</span>
    {elseif $filteredCount = $dogBreedArrayCount}
        <span>{$filteredCount} dog breeds found.</span>
    {/if}
{/if}