<form action="index.php" method="POST">
    <h4 class="text-center">Dog finder!</h4>
    <div class="search-form-term">
        <span class="search-form-span">Breed Name</span>
        <input class="search-form-input-word" type="text" name="breed_name" id="breed_name">
    </div>
    <div class="search-form-term">
        <span class="search-form-span">Weight (kg)</span>
        <input class="search-form-input-number" type="text" name="minWeight" id="minWeight" placeholder="min">
        <input class="search-form-input-number" type="text" name="maxWeight" id="maxWeight" placeholder="max">
    </div>
    <div class="search-form-term">
        <span class="search-form-span">Height (cm)</span>
        <input class="search-form-input-number" type="text" name="minHeight" id="minHeight" placeholder="min">
        <input class="search-form-input-number" type="text" name="maxHeight" id="maxHeight" placeholder="max">
    </div>
    <div class="search-form-term">
        <span class="search-form-span">Temperament</span>
        <input class="search-form-input-word" type="text" name="temperament" id="temperament">
    </div>
    <div class="search-form-button-container">
        <input class="search-form-button" type="submit" name="submit" value="Search">
    </div>
</form>

{if $filteredCount != 0}
<span>{$filteredCount} dog breeds found.</span>
{/if}

<div class="">
    <span class="">&times;</span>
    <table class="">
        {foreach key=key item=item from=$dogBreedDetails}
            <tr class="">
                {if $key == 'id' || $key == 'breed_name' || $key == 'image' || $key == 'weight' || $key == 'height' || $key == 'origin' || $key == 'life_span' || $key == 'temperament'|| $key == 'breed_group'|| $key == 'bred_for'}
                    {if $key == 'image'}
                        <th class="">{$key|upper|replace:'_':' '}</th>
                        <td class="">{html_image file=$item width="200" height="200"}</td>
                    {elseif $key == 'weight' || $key == 'height'}
                        <th class="">{$key|upper|replace:'_':' '}</th>
                        <td class="">{$item.metric}</td>
                    {else}
                        <th class="">{$key|upper|replace:'_':' '}</th>
                        <td class="">{$item}</td>
                    {/if}
                {/if}
            </tr>
        {/foreach}
    </table>
</div>