<table id="dog-breeds-table" class="dog-breeds-table">
    <thead>
      <tr>
        <th class="dog-breeds-table-th" scope="col">ID</th>
        <th class="dog-breeds-table-th" scope="col">Name</th>
        <th class="dog-breeds-table-th" scope="col">Picture</th>
        <th class="dog-breeds-table-th" scope="col">Weight(kg)</th>
        <th class="dog-breeds-table-th" scope="col">Height(cm)</th>
        <th class="dog-breeds-table-th" scope="col">Origin</th>
        <th class="dog-breeds-table-th" scope="col">Life Span</th>
        <th class="dog-breeds-table-th" scope="col">Temperament</th>
        <th class="dog-breeds-table-th" scope="col">Breed Group</th>
        <th class="dog-breeds-table-th" scope="col">Bred For</th>
      </tr>
    </thead>
    <tbody>
        {foreach name=outer item=dogBreedsItem from=$dogBreeds}
            <tr class="dog-breeds-table-tr">
                {foreach key=key item=item from=$dogBreedsItem}
                    {if $key == 'id' || $key == 'breed_name' || $key == 'img' || $key == 'weight' || $key == 'height' || $key == 'origin' $key == 'life_span' || $key == 'temperament' || $key == 'breed_group' || $key == 'bred_for'}
                      {if $key == 'img'}
                        <td class="dog-breeds-table-td">{html_image file=$item width="64" height="64"}</td>
                      {elseif $key == 'weight' || $key == 'height'}
                        <td class="dog-breeds-table-td">{$item.metric}</td>
                      {else}
                        <td class="dog-breeds-table-td">{$item}</td>
                      {/if}
                    {/if}
                {/foreach}
            </tr>
        {/foreach}
    </tbody>
</table>