<div class="table-row-container">
  <div class="table-col1"><img class="th-bookmark-icon c-pointer" id="th-bookmark" src="img/star-yellow.png"></div>
  <div class="table-col2"><span class="c-pointer" id="th-id">ID</span></div>
  <div class="table-col3">Name</div>
  <div class="table-col4">Picture</div>
  <div class="table-col5" id="th-weight"><span class="c-pointer">Weight(kg)</span></div>
  <div class="table-col6" id="th-height"><span class="c-pointer">Height(cm)</span></div>
  <div class="table-col7">Temperament</div>
  <div class="table-col8">Details</div>
</div>

{foreach name=outer item=dogBreedsItem from=$dogBreeds}
    <div class="table-row-container">
      {foreach key=key item=item from=$dogBreedsItem}
        {if $key == 'id'}
          <div class="table-col1">
            <span value="{$item}" id="star{$item}" class="favourite-star" onclick="myFavourite(this)"></span>
          </div>
        {/if}
      {/foreach}
      {foreach key=key item=item from=$dogBreedsItem}
        {if $key == 'id' || $key == 'breed_name' || $key == 'image' || $key == 'weight' || $key == 'height' || $key == 'temperament'}
          {if $key == 'id'}
            <div class="table-col2">{$item}</div>
          {elseif $key == 'breed_name'}
            <div class="table-col3">{$item}</div>
          {elseif $key == 'image'}
            <div class="table-col4 dog-breeds-table-td-image">{html_image file=$item}</div>
          {elseif $key == 'weight'}
            <div class="table-col5">{$item.metric}</div>
          {elseif $key == 'height'}
            <div class="table-col6">{$item.metric}</div>
          {elseif $key == 'temperament'}
            <div class="table-col7">{$item}</div>
          {/if}
        {/if}
      {/foreach}
      {foreach key=key item=item from=$dogBreedsItem}
        {if $key == 'id'}
          <div class="table-col8 dog-breeds-table-details">
            <div name="showDetails">
              <input type="submit" class="show-details" name="detailed-id" id="{$item}" value="{$item}" onclick="myFunc(this.id)">
            </div>
          </div>
        {/if}
      {/foreach}
    </div>
{/foreach}