<table class="dog-breeds-table">
    <thead>
      <tr>
        <th class="dog-breeds-table-th" scope="col">ID</th>
        <th class="dog-breeds-table-th" scope="col">Name</th>
        <th class="dog-breeds-table-th" scope="col">Picture</th>
        <th class="dog-breeds-table-th" scope="col">Weight(kg)</th>
        <th class="dog-breeds-table-th" scope="col">Height(cm)</th>
        <th class="dog-breeds-table-th" scope="col">Temperament</th>
      </tr>
    </thead>
    <tbody>
        {foreach name=outer item=fooitem from=$foo}
            <tr class="dog-breeds-table-tr">
            {foreach key=key item=item from=$fooitem}
                {if $key == 'id' || $key == 'breed_name' || $key == 'img' || $key == 'weight' || $key == 'height' || $key == 'temperament'}
                  {if $key == 'img'}
                    <td class="dog-breeds-table-td">{html_image file=$item width="64" height="64"}</td>
                  {elseif $key == 'weight' || $key == 'height'}
                    <td class="dog-breeds-table-td">{$item.metric}</td>
                  {else}
                    <td class="dog-breeds-table-td">{$item}</td>
                  {/if}
                {/if}
            {/foreach}
            </tr>
        {/foreach}
    </tbody>
</table>